// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border_color: #BDB76B;

.container{
  margin-top: 16px;
}

.banner-one {
  padding: 4px;
  border-radius: 2px;
  border-left: solid $border_color 8px;
  margin-bottom: 8px;
}

.banner-two {
  padding: 4px;
  background-color:   lightyellow;
  border-radius: 2px;
  margin-bottom: 8px;
  border-left: solid 8px $border_color;
}

h4 {
  font-style: italic;
}
